server {
  listen ${PORT};
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  resolver 127.0.0.11 valid=30s ipv6=off;

  location /api/ {
    rewrite ^/api/(.*)$ /$1 break;
    set $backend ${BACKEND_URL};
    proxy_pass $backend;
    proxy_http_version 1.1;
    proxy_ssl_server_name on;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
