server {
  listen ${PORT};
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  resolver ${NGINX_LOCAL_RESOLVERS} valid=30s ipv6=off;

  location /api/ {
    set $backend ${BACKEND_URL};
    rewrite ^/api/(.*)$ /$1 break;
    proxy_pass $backend;
    proxy_http_version 1.1;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
